{% extends 'Layout.html' %}

{% block body %}
    
     <div class="row">
          <div class="col-md-12"><h1>Data Visualization</h1></div>
          <div class="col-md-6">
               <h2>Distribution Data Kolom MPG</h2>
               <div class="chart" id="Dist_MPG">

               </div>
          </div>
          <div class="col-md-6">
               <h2>Distribution Data Kolom Horsepower</h2>
               <div class="chart" id="Dist_Horsepower">

               </div>
          </div>
     </div>
    
     <script>
          var Dist_MPG = {{data|safe}};
          Plotly.plot('Dist_MPG',Dist_MPG ,{});
          var Dist_Horsepower = {{data2|safe}};
          Plotly.plot('Dist_Horsepower',Dist_Horsepower ,{});
     </script>

{% endblock body %}